/* Reset default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f1e9;
    color: #333;
}

/* Header styling */
header {
    background-color: #6b4e31;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

/* Navigation styling */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #d4a373;
}

/* Main content styling */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quotes {
    text-align: center;

}

h2 {
    color: #6b4e31;
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

a {
    color: #8a552b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #6b4e31;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Button Index Page styling */
.button {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: #8a552b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: #6b4e31;
    text-decoration: none;
}



/* Images section styling */
.images {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.images img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.images p {
    font-style: italic;
    color: #6b4e31;
}